body {
    background-image: url("../img/background.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    background-color: #0d5782;
    text-align: center;
    color: white;
    border-radius: 30px;
}

form .text {
    background-color: #05344f;
    border-radius: 30px;
    height: auto;
    width: auto;
}

#bouton {
    border-radius: 30px;
    height: 55px;
    font-size: large;
}

#bouton:hover {
    background-color: green;
    color: wheat;
    border-radius: 30px;
    height: 55px;
    font-size: large;
}
